* {
  margin: 0;
  padding: 0; }

/*---------------------- grid general----------------------------- */
.contenedor {
  display: grid;
  grid-template-areas: "nav" "header" "main" "footer"; }

header {
  grid-area: header; }

nav {
  grid-area: nav; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

@media screen and (min-width: 320px) {
  body {
    background-image: url(../assets/img/background2.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    margin: auto; } }

@media screen and (min-width: 768px) {
  body {
    background-image: url(../assets/img/background3.jpeg); } }

@media screen and (min-width: 1024px) {
  body {
    background-image: url(../assets/img/background3.jpeg); } }

@media screen and (min-width: 1440px) {
  body {
    background-image: url(../assets/img/background3.jpeg); } }

/*----------- estilo header------------------ */
@media screen and (min-width: 320px) {
  header {
    background-image: url(../assets/img/backgroundsm.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 70px; } }

@media screen and (min-width: 768px) {
  header {
    background-image: url(../assets/img/backgroundmd.jpeg); } }

@media screen and (min-width: 1024px) {
  header {
    background-image: url(../assets/img/background.jpeg); } }

@media screen and (min-width: 1440px) {
  header {
    background-image: url(../assets/img/background.jpeg); } }

h1 {
  font-family: 'playfair display', sans-serif;
  color: #ffffff;
  text-shadow: 10px 10px #a79b9b;
  text-align: center;
  font-size: 3em; }

h2 {
  font-family: "josefin sans", sans-serif;
  color: #ffffff;
  text-shadow: 6px 6px #a79b9b;
  text-align: center;
  font-size: 1em; }

.titulos {
  font-family: 'playfair display', sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 7px 7px #a79b9b;
  font-size: 20px; }

.nos {
  color: #000000; }

/* ---------- estilo index ----------------- */
.logo {
  display: flex;
  justify-content: center; }

.presentacion {
  background-image: url(../assets/img/negro.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }
  .presentacion p {
    color: #fdfcfc;
    font-family: 'nixie one' sans-serif;
    font-size: 15px;
    text-align: center;
    max-width: 550px;
    margin: auto; }

.nos {
  font-family: 'playfair display' sans-serif;
  color: #fdfcfc;
  text-align: center;
  text-shadow: 7px 7px #a59c9c;
  font-size: 25px;
  max-width: 350px;
  margin: auto; }

.presentacion2 {
  color: #eafa0a; }

h3 {
  font-family: 'playfair display' sans-serif;
  color: #000000;
  text-align: center;
  text-shadow: 7px 7px #a59c9c;
  font-size: 25px;
  max-width: 350px;
  margin: auto; }

/* ------------seccion tortas----------------- */
.tortas {
  margin-top: 15px; }
  .tortas img {
    height: 350px;
    width: 350px; }
  .tortas div {
    color: #000000;
    align-items: center;
    justify-content: space-around; }

.tortas2, .personal2, .contacto form, .mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .tortas2 ul, .personal2 ul, .contacto form ul, .mapa ul {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000; }
    .tortas2 ul li, .personal2 ul li, .contacto form ul li, .mapa ul li {
      text-align: left;
      margin-right: 20px; }

div li {
  list-style-type: none;
  text-align: center;
  font-size: 15px; }

/* ------------seccion tartas------------------ */
.tarta {
  margin-top: 15px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around; }
  .tarta img {
    height: 350px;
    width: 350px; }
  .tarta div {
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center; }

.tarta2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  .tarta2 ul {
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    margin-top: 5px; }
    .tarta2 ul li {
      text-align: left;
      margin-right: 20px; }

/* ------------seccion personalizadas---------------- */
.personal {
  margin-top: 15px; }
  .personal img {
    height: 350px;
    width: 350px; }
  .personal div {
    color: #000000;
    align-items: center;
    justify-content: space-around; }
  .personal p {
    color: #000000;
    font-size: 20px;
    text-align: center;
    max-width: 300px;
    margin: auto;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000; }

/* ---------------seccion box regalo------------------- */
.regalo {
  display: flex;
  flex-direction: column-reverse; }
  .regalo img {
    height: 350px;
    width: 350px; }
  .regalo div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px; }
  .regalo p {
    color: #000000;
    font-size: 20px;
    text-align: center;
    max-width: 300px;
    margin: auto;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000; }

.regalo2 {
  display: flex;
  flex-direction: column; }

/* ------------- estilo footer ----------------- */
footer {
  background-image: url(../assets/img/fondoh.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }
  footer h5 {
    font-size: 15px;
    font-weight: bold; }
  footer h6 {
    text-align: center;
    font-size: 10px; }

.logof {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .logof h5 {
    font-weight: bold; }
  .logof nav a {
    list-style-type: none;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
    margin-right: 35px; }

.what {
  display: flex;
  justify-content: right;
  position: sticky;
  bottom: 0; }

.red {
  text-align: center; }

.redes {
  display: flex;
  justify-content: center; }
  .redes img {
    height: 40px;
    width: 40px; }
  .redes .face {
    padding-right: 5px; }

/* ---------------animacion logo what-------------------- */
.ani {
  animation-name: rotar;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 4s; }

@keyframes rotar {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }

/* ---------------- estilo tortas ------------------ */
.ricota {
  color: #000000; }
  .ricota div {
    text-align: center; }
  .ricota img {
    width: 100px;
    height: 100px; }
  .ricota p {
    font-family: 'nixie one' sans-serif;
    font-size: 15px;
    text-align: center;
    max-width: 400px;
    margin: auto; }
  .ricota h3 {
    font-size: 20px;
    border-top: 2px solid #000000;
    margin-top: 8px; }

.tyc, .tyc2 {
  align-items: center; }

/* -----------------estilo tartas----------------------------- */
.frola {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto; }
  .frola div {
    display: flex;
    justify-content: center;
    color: #ffffff; }
  .frola img {
    width: 150px;
    height: 150px; }

.fyl, .fyl2 {
  text-align: center;
  color: #000000; }
  .fyl h3, .fyl2 h3 {
    font-size: 17px;
    border-top: 2px solid #000000;
    margin-top: 8px; }
  .fyl p, .fyl2 p {
    font-family: 'nixie one' sans-serif;
    font-size: 15px;
    text-align: center;
    max-width: 400px;
    margin: auto;
    color: #000000; }

.fyl2 h3 {
  font-size: 17px; }

.fyl2 p {
  font-family: 'nixie one' sans-serif;
  font-size: 15px;
  text-align: center;
  max-width: 400px;
  margin: auto;
  color: #000000; }

/* ----------------- estilo personalizadas ------------------- */
.person {
  color: #000000; }
  .person h3 {
    text-align: center; }
  .person h4 {
    font-family: 'playfair display' sans-serif;
    color: #000000;
    text-align: center;
    text-shadow: 7px 7px #a59c9c;
    font-size: 25px;
    max-width: 350px;
    margin: auto;
    margin-top: 10px; }
  .person img {
    justify-content: center;
    height: 250px;
    width: 250px; }
  .person div {
    text-align: center; }
    .person div ul li {
      text-align: center;
      max-width: 500px;
      margin: auto; }
  .person div ol {
    max-width: 650px;
    margin: auto; }

.goku {
  margin-top: 20px; }

.letra {
  margin-top: 20px; }

video {
  margin-top: 15px; }

/* --------------- estilo box para regalar ------------ */
.box {
  text-align: center;
  margin-bottom: 30px; }
  .box p {
    color: #000000;
    font-size: 15px; }

.box2 {
  color: #000000; }
  .box2 div {
    text-align: center; }
  .box2 img {
    width: 100px;
    height: 100px;
    border-bottom: 2px solid #000000; }

.slug {
  text-align: center; }
  .slug li {
    text-align: left; }

.amor {
  text-align: center; }
  .amor li {
    text-align: left; }

/* ------------- estilo contacto --------- */
.contacto form input {
  margin-top: 10px; }

.contacto form textarea {
  margin-top: 10px; }

.contacto h4 {
  font-size: 15px;
  color: #000000;
  text-align: center; }

.tabla table {
  color: #000000;
  margin: auto;
  padding: auto; }

.tabla th {
  padding: 5px; }

.tabla td {
  text-align: center; }

.tabla h4 {
  color: #000000;
  font-size: 15px;
  text-align: center;
  margin-top: 20px; }

.mapa {
  margin: 20px; }
  .mapa iframe {
    width: 300px;
    height: 300px; }
  .mapa p {
    color: #000000;
    font-size: 15px;
    text-align: center;
    max-width: 350px;
    margin: auto; }

.pago {
  color: #000000;
  font-size: 15px; }
  .pago h4 {
    margin-left: 30px; }
  .pago ul li {
    text-align: left;
    margin-top: 12px; }

/* ------media queries---------- */
/* ------media queries index---------- */
@media screen and (min-width: 768px) {
  h1 {
    text-align: center;
    font-size: 4em; }
  h2 {
    text-align: center;
    font-size: 2em; }
  /* --------media main------------- */
  .presentacion p {
    font-size: 25px;
    max-width: 750px; }
  .home {
    font-size: 45px;
    max-width: 450px; }
  /* --------media seccion tortas--------- */
  .tortas img {
    height: 450px;
    width: 450px; }
  .tortas div {
    flex-wrap: wrap;
    margin-top: 15px; }
  .tortas2, .personal2, .contacto form, .mapa {
    display: flex;
    flex-direction: column; }
  div li {
    font-size: 25px; }
  /* -------------media seccion tartas-------------- */
  .tarta {
    display: grid;
    grid-template-columns: auto auto; }
    .tarta img {
      height: 450px;
      width: 450px; }
    .tarta div {
      flex-wrap: wrap;
      margin-top: 15px; }
  .tarta2 {
    display: flex;
    flex-direction: column; }
  /* ----------media seccion personalizadas---------- */
  .personal img {
    height: 450px;
    width: 450px; }
  .personal div {
    flex-wrap: wrap;
    margin-top: 15px; }
  .personal p {
    font-size: 25px; }
  /* ---------------- media seccion box regalo ------------------- */
  .regalo {
    display: grid;
    grid-template-columns: auto auto; }
    .regalo img {
      height: 450px;
      width: 450px; }
    .regalo div {
      flex-wrap: wrap; }
    .regalo p {
      font-size: 25px; }
  /* ----------media tortas--------- */
  .ricota img {
    width: 350px;
    height: 350px; }
  .ricota p {
    font-size: 25px;
    max-width: 500px; }
  /* ----------media tartas---------- */
  .frola img {
    width: 350px;
    height: 350px; }
  .fyl2 h3 {
    font-size: 27px; }
  .fyl2 p {
    font-size: 25px;
    max-width: 600px;
    text-align: center; }
  .fyl h3, .fyl2 h3 {
    font-size: 27px; }
  .fyl p, .fyl2 p {
    font-size: 25px;
    max-width: 600px;
    text-align: center; }
  /* ----------media personalizadas---------- */
  .person img img {
    height: 350px;
    width: 350px; }
  /* -----------media box para regalar------------ */
  .box p {
    font-size: 25px; }
  .box2 {
    font-size: 20px; }
    .box2 img {
      width: 350px;
      height: 350px; }
  .slug li {
    text-align: center; }
  .amor li {
    text-align: center; }
  /* -----------media contacto----------- */
  .contacto h4 {
    font-size: 20px; }
  .tabla h4 {
    font-size: 20px; }
  .mapa p {
    font-size: 25px;
    max-width: 500px; }
  .mapa iframe {
    height: 450px;
    width: 600px; }
  .pago {
    font-size: 20px; }
  /* -------------media footer---------- */
  footer h6 {
    text-align: right;
    font-size: 15px; }
  .logof {
    align-items: flex-end; }
    .logof h5 {
      margin-right: 90px;
      margin-top: 10px; }
  .red {
    text-align: left; }
  .redes {
    justify-content: flex-start; } }

@media screen and (min-width: 1024px) {
  /* ------------media contactos----------- */
  .mapa {
    flex-direction: row;
    justify-content: space-between; }
  /* --------------transiciones enlaces index---------- */
  /*--seccion tortas--*/
  .tortas2, .personal2, .contacto form, .mapa {
    overflow: hidden; }
    .tortas2 a, .personal2 a, .contacto form a, .mapa a {
      transition: transform 1s, filter 1.5s ease-in-out;
      filter: grayscale(0);
      transform: scale(1); }
  .tortas2:hover a, .personal2:hover a, .contacto form:hover a, .mapa:hover a {
    filter: grayscale(2);
    transform: scale(1.5); }
  /*--seccion tartas--*/
  .tarta2 {
    overflow: hidden; }
    .tarta2 a {
      transition: transform 1s, filter 1.5s ease-in-out;
      filter: grayscale(0);
      transform: scale(1); }
  .tarta2:hover a {
    filter: grayscale(2);
    transform: scale(1.5); }
  /*--seccion personalizadas--*/
  .personal2 {
    overflow: hidden; }
    .personal2 a {
      transition: transform 1s, filter 1.5s ease-in-out;
      filter: grayscale(0);
      transform: scale(1); }
  .personal2:hover a {
    filter: grayscale(2);
    transform: scale(1.4); }
  /*--seccion box para regalar--*/
  .regalo2 {
    overflow: hidden; }
    .regalo2 a {
      transition: transform 1s, filter 1.5s ease-in-out;
      filter: grayscale(0);
      transform: scale(1); }
  .regalo2:hover a {
    filter: grayscale(2);
    transform: scale(1.5); }
  /* ------------transiciones footer nav------------------ */
  footer .logof nav a {
    transition: all .2s ease-in-out; }
  footer .logof nav a:hover {
    text-decoration: underline; }
  .redes img {
    width: 80px;
    height: 80px; }
  .face {
    transition: all .2s ease-in-out;
    filter: grayscale(2); }
  .face:hover {
    filter: grayscale(0); }
  .ig {
    transition: all .2s ease-in-out;
    filter: grayscale(2); }
  .ig:hover {
    filter: grayscale(0); } }

@media screen and (min-width: 1440px) {
  .fyl .pf, .fyl2 .pf {
    margin-left: 100px; }
  .fyl .tr, .fyl2 .tr {
    margin-left: 100px; }
  .fyl2 .lp {
    margin-right: 120px; }
  .fyl2 .tt {
    margin-right: 120px; } }

@media screen and (min-width: 2560px) {
  html {
    background-color: #928686; }
  body {
    border: 3px solid #000; } }
