* {
  margin: 0;
  padding: 0; }

/*---------------------- grid general----------------------------- */
.contenedor {
  display: grid;
  grid-template-areas: "nav" "header" "main" "footer"; }

header {
  grid-area: header; }

nav {
  grid-area: nav; }

main {
  grid-area: main; }

footer {
  grid-area: footer; }

body {
  background-image: url(../assets/img/background.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  margin: auto; }

/*----------- estilo header------------------ */
h1 {
  font-family: 'playfair display', sans-serif;
  color: #ffffff;
  text-shadow: 10px 10px #a79b9b;
  text-align: center;
  font-size: 3em; }

h2 {
  font-family: "josefin sans", sans-serif;
  color: #ffffff;
  text-shadow: 6px 6px #a79b9b;
  text-align: center;
  font-size: 1em; }

.titulos {
  font-family: 'playfair display', sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 7px 7px #a79b9b;
  font-size: 20px; }

.nos {
  color: #000000; }

/* ---------- estilo index ----------------- */
.logo {
  display: flex;
  justify-content: center; }

.presentacion {
  background-image: url(../assets/img/nos.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }
  .presentacion p {
    font-family: 'nixie one' sans-serif;
    font-size: 15px;
    text-align: center;
    max-width: 550px;
    margin: auto; }

.presentacion2 {
  color: #b91308; }

h3 {
  font-family: 'playfair display' sans-serif;
  color: #ffffff;
  text-align: center;
  text-shadow: 7px 7px #a79b9b;
  font-size: 25px;
  max-width: 350px;
  margin: auto; }

/* ------------seccion tortas----------------- */
.tortas {
  margin-top: 15px; }
  .tortas img {
    height: 350px;
    width: 350px; }
  .tortas div {
    color: #ffffff;
    align-items: center;
    justify-content: space-around; }

.tortas2 {
  display: flex;
  flex-direction: column;
  align-items: center; }

div li {
  list-style-type: none;
  text-align: center;
  font-size: 15px; }

/* ------------seccion tartas------------------ */
.tarta {
  margin-top: 15px;
  display: flex;
  flex-direction: column-reverse; }
  .tarta img {
    height: 350px;
    width: 350px; }
  .tarta div {
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center; }

.tarta2 {
  display: flex;
  flex-direction: column;
  align-content: center; }

/* ------------seccion personalizadas---------------- */
.personal {
  margin-top: 15px; }
  .personal img {
    height: 350px;
    width: 350px; }
  .personal div {
    color: #ffffff;
    align-items: center;
    justify-content: space-around; }
  .personal p {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    max-width: 300px;
    margin: auto; }

.personal2 {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* ---------------seccion box regalo------------------- */
.regalo {
  display: flex;
  flex-direction: column-reverse; }
  .regalo img {
    height: 350px;
    width: 350px; }
  .regalo div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px; }
  .regalo p {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    max-width: 300px;
    margin: auto; }

.regalo2 {
  display: flex;
  flex-direction: column; }

/* ------------- estilo footer ----------------- */
footer {
  background-image: url(../assets/img/fondoh.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }
  footer h5 {
    font-size: 15px; }
  footer h6 {
    text-align: right;
    font-size: 15px; }

.logof {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .logof h5 {
    margin-right: 20px;
    margin-top: 50px; }
  .logof nav a {
    list-style-type: none;
    text-decoration: none;
    color: #000000;
    margin-top: 20px; }

.what {
  display: flex;
  justify-content: right;
  position: sticky;
  bottom: 0; }

/* ---------------animacion logo what-------------------- */
.ani {
  animation-name: rotar;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 4s; }

@keyframes rotar {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(360deg); } }

/* ---------------- estilo tortas ------------------ */
.ricota {
  color: #ffffff; }
  .ricota div {
    text-align: center; }
  .ricota img {
    width: 150px;
    height: 150px; }
  .ricota p {
    font-family: 'nixie one' sans-serif;
    font-size: 15px;
    text-align: center;
    max-width: 400px;
    margin: auto; }

.tyc {
  align-items: center; }

.tyc2 {
  align-items: center; }

/* -----------------estilo tartas----------------------------- */
.frola {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto; }
  .frola div {
    display: flex;
    justify-content: center;
    color: #ffffff; }
  .frola img {
    width: 150px;
    height: 150px; }

.fyl {
  text-align: center;
  color: #ffffff; }
  .fyl h3 {
    font-size: 17px; }
  .fyl p {
    font-family: 'nixie one' sans-serif;
    font-size: 15px;
    text-align: center;
    max-width: 400px;
    margin: auto;
    color: #ffffff; }

.fyl2 {
  text-align: center;
  color: #ffffff; }
  .fyl2 h3 {
    font-size: 17px; }
  .fyl2 p {
    font-family: 'nixie one' sans-serif;
    font-size: 15px;
    text-align: center;
    max-width: 400px;
    margin: auto;
    color: #ffffff; }

/* ----------------- estilo personalizadas ------------------- */
.person {
  color: #ffffff; }
  .person h3 {
    text-align: center; }
  .person img {
    justify-content: center;
    height: 250px;
    width: 250px; }
  .person div {
    text-align: center; }
  .person div ol {
    max-width: 650px;
    margin: auto; }

.goku {
  margin-top: 20px; }

.letra {
  margin-top: 20px; }

video {
  margin-top: 15px; }

/* --------------- estilo box para regalar ------------ */
.box {
  text-align: center;
  margin-bottom: 30px; }
  .box p {
    color: #ffffff;
    font-size: 15px; }

.box2 {
  color: #ffffff; }
  .box2 div {
    text-align: center; }
  .box2 img {
    width: 150px;
    height: 150px; }

.slug .amor {
  text-align: center; }

/* ------------- estilo contacto --------- */
.contacto form {
  display: flex;
  flex-direction: column;
  align-items: center; }

.contacto h4 {
  font-size: 15px;
  color: #ffffff;
  text-align: center; }

.tabla table {
  color: #ffffff;
  margin: auto;
  padding: auto; }

.tabla th {
  padding: 5px; }

.tabla td {
  text-align: center; }

.tabla h4 {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  margin-top: 20px; }

.mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px; }
  .mapa iframe {
    width: 300px;
    height: 300px; }
  .mapa p {
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    max-width: 350px;
    margin: auto; }

.pago {
  color: #ffffff;
  font-size: 15px; }
  .pago ul li {
    text-align: left;
    margin-top: 12px; }

/* ------media queries---------- */
/* ------media queries index---------- */
@media screen and (min-width: 768px) {
  h1 {
    text-align: center;
    font-size: 4em; }
  h2 {
    text-align: center;
    font-size: 2em; }
  .titulos {
    font-size: 45px; }
  /* --------media main------------- */
  .presentacion p {
    font-size: 25px;
    max-width: 750px; }
  .home {
    font-size: 45px;
    max-width: 450px; }
  /* --------media seccion tortas--------- */
  .tortas img {
    height: 450px;
    width: 450px; }
  .tortas div {
    flex-wrap: wrap;
    margin-top: 15px; }
  .tortas2 {
    display: flex;
    flex-direction: column; }
  div li {
    font-size: 25px; }
  /* -------------media seccion tartas-------------- */
  .tarta {
    display: grid;
    grid-template-columns: auto auto; }
    .tarta img {
      height: 450px;
      width: 450px; }
    .tarta div {
      flex-wrap: wrap;
      margin-top: 15px; }
  .tarta2 {
    display: flex;
    flex-direction: column; }
  /* ----------media seccion personalizadas---------- */
  .personal img {
    height: 450px;
    width: 450px; }
  .personal div {
    flex-wrap: wrap;
    margin-top: 15px; }
  .personal p {
    font-size: 25px; }
  .titulos {
    text-align: center;
    font-size: 30px; }
  /* ---------------- media seccion box regalo ------------------- */
  .regalo {
    display: grid;
    grid-template-columns: auto auto; }
    .regalo img {
      height: 450px;
      width: 450px; }
    .regalo div {
      flex-wrap: wrap; }
    .regalo p {
      font-size: 25px; }
  /* ----------media tortas--------- */
  .ricota img {
    width: 350px;
    height: 350px; }
  .ricota p {
    font-size: 25px;
    max-width: 500px; }
  /* ----------media seccion tartas---------- */
  .frola img {
    width: 350px;
    height: 350px; }
  .fyl2 h3 {
    font-size: 27px; }
  .fyl2 p {
    font-size: 25px;
    max-width: 600px;
    text-align: center; }
  .fyl h3 {
    font-size: 27px; }
  .fyl p {
    font-size: 25px;
    max-width: 600px;
    text-align: center; }
  /* ----------media personalizadas---------- */
  .person img img {
    height: 350px;
    width: 350px; }
  /* -----------media box pata regalar------------ */
  .box p {
    font-size: 25px; }
  .box2 {
    font-size: 20px; }
    .box2 img {
      width: 350px;
      height: 350px; }
  /* -----------media contacto----------- */
  .contacto h4 {
    font-size: 20px; }
  .tabla h4 {
    font-size: 20px; }
  .mapa p {
    font-size: 25px;
    max-width: 500px; }
  .mapa iframe {
    height: 450px;
    width: 600px; }
  .pago {
    font-size: 20px; }
  /* -------------media footer---------- */
  .logof h5 {
    margin-right: 50px;
    margin-top: 50px; } }

@media screen and (min-width: 1024px) {
  /* ------------media contactos----------- */
  .mapa {
    flex-direction: row;
    justify-content: space-between; }
  /* --------------transiciones enlaces index---------- */
  .titulos {
    transition: all .2s ease-in-out; }
  .titulos:hover {
    color: #59cbee;
    text-decoration: underline;
    font-size: 55px; }
  /* ------------transiciones footer nav------------------ */
  footer .logof nav a {
    transition: all .2s ease-in-out; }
  footer .logof nav a:hover {
    text-decoration: underline; } }
