footer {
    background-image: url(../assets/img/fondoh.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    h5 {
        font-size: 15px;
        font-weight: bold;
    }

    h6{
        text-align: center;
        font-size: 10px;
    }
    
}

.logof {
    display: flex;
    flex-direction: column;
    align-items: center;

    h5 {
        font-weight: bold;
    }

    nav {
        a {
            list-style-type: none;
            text-decoration: none;
            font-weight: bold;
            color: #000000;
            margin-top: 20px;
            margin-right: 35px;
        }
    }

}

.what {
    display: flex;
    justify-content: right;
    position: sticky;
    bottom: 0;
}

.red {
    text-align: center;
}

.redes {
    display: flex;
    justify-content: center;

    img {
        height: 40px;
        width: 40px;
    }
    
    .face {
        padding-right: 5px;
    
    }
}