        // ---------maps con mixin------------
header {
    @include mobile-f(sm) {
        background-image: url(../assets/img/backgroundsm.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 70px;
    }

    @include mobile-f(md) {
        background-image: url(../assets/img/backgroundmd.jpeg);
    }

    @include mobile-f(xl) {
        background-image: url(../assets/img/background.jpeg);
    }
    
    @include mobile-f(xxl) {
        background-image: url(../assets/img/background.jpeg);
    }
}


 h1 {
    font-family: 'playfair display', sans-serif;
    color: $font-color;
    text-shadow: 10px 10px #a79b9b;
    text-align: center;
    font-size: 3em;
}

h2 {
    font-family: "josefin sans", sans-serif;
    color: $font-color;
    text-shadow: 6px 6px #a79b9b;
    text-align: center;
    font-size: 1em;
}

.titulos {
    font-family: 'playfair display', sans-serif;
    color: $font-color;
    text-decoration: none;
    text-shadow: 7px 7px #a79b9b;
    font-size: 20px;
}

.nos {
    color: #000000;
}